# General PHP Snippets
snippet met
	public function ${1}()
	{
		${2}
	}

snippet pmet
	protected function ${1}()
	{
		${2}
	}

snippet this
	$this->${1}

# Magento-specific Snippets
snippet mod
	Mage::getModel('${1}');

snippet hel
	Mage::helper('${1}');
