snippet mod "Main module xml."
<?xml version="1.0"?>
<config>
    <modules>
        <${1:Namespace_ModuleName}>
            <active>true</active>
            <codePool>local</codePool>
        </${2:Namespace_ModuleName}>
    </modules>
</config>
endsnippet
