### ALIASES ################################################

# Terminal
alias cls="clear"
alias update="sudo apt-get update && sudo apt-get upgrade -y"
alias lt="tree -ad -L 2"
alias sql="mysql -uroot -p"
alias p="vendor/bin/phpunit"

# Git
alias nah="git reset --hard;git clean -df;"

# Django Dev
alias dsource="source env/bin/activate"
alias dmanage="python manage.py"

# Magento
alias testmag="../vendor/bin/phpunit"

# PHP 
# (OsX-specific)
alias php71="/opt/php-7.1/bin/php"
alias php56="/opt/php-5.6.30/bin/php"
alias createtags='ctags -R --PHP-kinds=cfi --regex-php="/^[ \t]*trait[ \t]+([a-z0_9_]+)/\1/t,traits/i"'

### FUNCTIONS ##############################################

# Copy the content of a file to the clipboard
function copy {
    if [ "$1" != "" ]
    then
        xclip -sel c < "$1"
        echo "The content was copied to the clipboard."
    else
        echo "You must specify a file to copy its content to the clipboard."
    fi
}

# Copy the absolute path of a file
function copypath {
    readlink -f "$1" | xclip -sel c
}

